@import "~@fullcalendar/core/main.css";
@import "~@fullcalendar/daygrid/main.css";
@import "~@fullcalendar/timegrid/main.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.demo-app {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
}

.demo-app-top {
  margin: 0 0 3em;
}

.app {
  display: flex;
  max-height: 100vh;
  /* overflow: hidden; */
}

.demo-app-calendar {
  margin: 0 auto;
  max-width: 900px;
}

.calender-section {
  width: calc(100% - 250px);
}

.sidebar {
  padding: 0 10px;
  width: 250px;
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
}

.sidebar__content {
  position: relative;
  height: 100%;
}

.date__item {
  width: 100%;
  border-bottom: 1px solid #bcbcbc;
  display: flex;
  align-items: center;
  padding: 15px 5px;
}

.date__item .start__date,
.date__item .end__date {
  flex: 1;
  text-align: center;
}

.start__date .day,
.end__date .day,
.start__date .time,
.end__date .time {
  width: 100%;
  display: inline-block;
}

.date__item .actions {
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.actions .icon,
.action__button .icon {
  width: 30px;
  height: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
}

.actions .icon:not(:first-of-type) {
  margin-top: 5px;
}

.action__button {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.action__button .icon.success {
  background-color: green;
  padding: 5px 10px;
  color: #ffffff;
  cursor: pointer;
}

.actions .icon.danger {
  background-color: red;
}

.fc-toolbar.fc-header-toolbar {
  position: sticky;
  top: 0;
  padding-top: 10px;
  padding-bottom: 1.5rem;
  margin-bottom: 0;
}

.fc-head {
  position: sticky;
  top: 70px;
}

.fc-head,
.fc-toolbar.fc-header-toolbar,
.fc-day-grid {
  background-color: #fff;
  z-index: 23;
}

.fc-day-grid {
  position: sticky !important;
  top: 87px;
}
